<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Upload de Arquivos CSV e TXT</h2>
        <form action="/upload" method="post" enctype="multipart/form-data" class="mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="csvfile">Arquivo CSV :</label>
                        <input type="file" name="csvfile" id="csvfile" class="form-control-file" accept=".csv, .xlsx" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="txtfile">Arquivo TXT:</label>
                        <input type="file" name="txtfile" id="txtfile" class="form-control-file" accept=".txt" required>
                    </div>
                </div>
            </div>
            <button type="submit" class=" btn btn-primary btn-block mt-3">Enviar Arquivos</button>
        </form>
    </div>
</body>
</html>

