<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Comparação</title>
</head>
<body>
    <h1>Resultado da Comparação</h1>
    <p>Total de Nomes no Arquivo TXT: <%= result.total %></p>
    <p>Nomes Encontrados: <%= result.found %></p>

    <h2>Lista de Nomes Encontrados</h2>
    <ul>
        <% result.matched.forEach(name => { %>
            <li><%= name %></li>
        <% }); %>
    </ul>
</body>
</html>
